#header {
	text-align: center; 
	padding: 2em 2em 0em 2em;
}

h4#name-mark {
	text-transform: uppercase; 
	padding: 0.25em 0em 0.25em 0.25em; 
	border: 3px solid black; 
	display: inline-block; l
	ine-height: 1em; 
	letter-spacing: 0.25em;
}

nav#main {
	text-align: center;
	padding: 0em 1.5em 0em 1.5em;
}

nav#main ol {
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	margin: 0;
}

nav#main ol li {
	display: inline-block;
	margin: 0px 10px 0px 10px;
}

nav#main ol li a {
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	padding: 16px 0px 13px 0px;
	display: block;
	line-height: 1em;
	font-size: 0.85em;
	letter-spacing: 0.2em;
	border-bottom: 3px solid #fff;
}

nav#main ol li a:hover {
	border-bottom: 3px solid #999;
}

nav#main ol li a.current {
	border-bottom: 3px solid #999;
}

div#portfolio-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0em 0em 0em 1.5em;
}

div.portfolio-item {
	border: 1px solid #999;
	padding: 1.5em;
	margin: 0em 1.5em 1.5em 0em;
	width: 28%;
}

div.portfolio-item-img {
	width: 100%;
	height: auto;
	margin-bottom: 12px;
}

div.portfolio-item-img img {
	width: 100%;
	margin-bottom: -6px;
}

.portfolio-item-tag {
	border-radius: 4px;
	text-transform: uppercase;
	display: inline-block;
	padding: 2px 6px;
	font-size: 0.75em;
	font-weight: bold;
	margin-bottom: 5px;
}

.branding .portfolio-item-tag {
	border: 2px solid #140D4F;
	color: #140D4F;
}

.print .portfolio-item-tag {
	border: 2px solid #4EA699;
	color: #4EA699;
}

.ux .portfolio-item-tag {
	border: 2px solid #2DD881;
	color: #2DD881;
}

.portfolio-item-name {
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 0.35em;
}

.portfolio-item-desc {
	line-height: 1.35em;
	margin: 0;
}

#filter {
	padding: 12px 12px 12px 12px;
	text-align: center;
}

#filter ul {
	margin: 0;
	text-transform: uppercase;
	font-size: 0.75em;
	font-weight: bold;
	display: block;
	padding: 8px 12px;	
}

#filter ul li {
	display: inline-block;
	margin-left: 1em;
}

#filter ul li a {
	text-decoration: none;
	display: block;
}

#filter ul li a#filter-all {
	color: rgb(175, 175, 175);
}

#filter ul li a#filter-branding {
	color: rgb(175, 0, 0);
}

#filter ul li a#filter-print {
	color: rgb(0, 175, 0)		
}

#filter ul li a#filter-ux {
	color: rgb(0, 0, 175)
}

.pad {
	padding: 1.5em;
}

section#footer {
	text-align: center;
	padding: 12px;
}