body {
	background: #ffffff url('/images/bg.gif') no-repeat top center;
	background-size: cover;
	width: 100%;
}

#header {
	padding: 3em 2.5em 2.5em 2.5em;
}

div#name-mark {
	margin: auto;
	width: 600px;
}

@media only screen and (max-width: 700px) {
	#header {
		padding: 2em 1.5em 1.5em 1.5em;
	}
		
	div#name-mark {
		width: 85%;
	}
}

div#name-mark img {
	width: 100%;
}

nav#main {
	text-align: center;
	padding: 0em 1.5em 0em 1.5em;
}

nav#main ol {
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	margin: 0;
}

nav#main ol li {
	display: inline-block;
	margin: 0px 10px 0px 10px;
}

nav#main ol li a {
	text-decoration: none;
	font-weight: 500;
	color: #000000;
	text-transform: uppercase;
	padding: 16px 0px 13px 0px;
	display: block;
	line-height: 1em;
	font-size: 0.85em;
	letter-spacing: 0.15em;
	border-bottom: 3px solid transparent;
}

nav#main ol li a:hover {
	border-bottom: 3px solid #FAD41D;
}

nav#main ol li a.current {
	border-bottom: 3px solid #FAD41D;
}

div#portfolio-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-left: 1.612903225806452%;
}

div.portfolio-item {
	border: 1px solid #999;
	padding: 1.612903225806452%;
	margin: 0 1.612903225806452% 1.612903225806452% 0;
	background-color: #ffffff;
	color: #666666;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	
	div#portfolio-items {
		display: block;
		padding-left: 0;
	}
	
	div.portfolio-item {
		padding: 1.5em;
		margin: 0 1.5em 1.5em 1.5em;
	}
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
div.portfolio-item {
	width: 90%;
}	
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
div.portfolio-item {
	width: 44%;
}	
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1232px) {
div.portfolio-item {
	width: 27.75%;
}
}

/* Extra large devices (extra large laptops and desktops, 1440px and up) */
@media only screen and (min-width: 1441px) {
	div.portfolio-item {
		width: 27.75%;
	}
}

/* Extra large devices (extra large laptops and desktops, 1440px and up) */
@media only screen and (min-width: 1680px) {
	div.portfolio-item {
		width: 28.375%;
	}
}

div.portfolio-item-img {
	width: 100%;
	height: auto;
	margin-bottom: 12px;
}

div.portfolio-item-img img {
	width: 100%;
	margin-bottom: -6px;
}

.portfolio-item-tag {
	text-transform: uppercase;
	display: inline-block;
	padding-left: 1.75em;
	font-size: 0.75em;
	font-weight: 500;
	letter-spacing: 0.1em;
	font-family: 'Rubik', sans-serif;
	margin-bottom: 5px;
	color: #666666;
}

.branding .portfolio-item-tag {
	background: transparent url('/images/star-grey.svg') no-repeat 0% 40%;
	background-size: 1em;
}

.print .portfolio-item-tag {
	background: transparent url('/images/pub-grey.svg') no-repeat 0% 40%;
	background-size: 1em;
}

.ux .portfolio-item-tag {
	background: transparent url('/images/ux-grey.svg') no-repeat 0% 40%;
	background-size: 1em;
}

.portfolio-item-name {
	font-size: 1.5em;
	font-weight: 500;
	margin-bottom: 0.35em;
	letter-spacing: 0.05em;
	font-family: 'Rubik', sans-serif;
	color: #666666;
}

.portfolio-item-desc {
	line-height: 1.35em;
	margin: 0;
	font-family: "Karla", sans-serif;
	color: #666666;
}

.portfolio-item-desc a {
	text-decoration: none;
	color: #000000;
	font-weight: 500;
	font-family: 'Rubik', sans-serif;
	text-transform: uppercase;
}

.portfolio-item-desc a:hover {
	text-decoration: underline;
	text-decoration-color: #FAD41D;
}

div.portfolio-item a {
	font-family: 'Rubik', sans-serif;
	text-transform: uppercase;
	color: #000000;
	font-weight: 500;
	text-decoration: none;
	font-size: 0.75em;
	letter-spacing: 0.15em;
	display: inline-block;
	margin-top: 2em;
	background: transparent url('/images/arrow.svg') no-repeat 100% 50%;
	background-size: 0.75em;
	padding-right: 1.25em;
	border-bottom: 3px solid transparent;
}

div.portfolio-item a:hover {
	 border-bottom: 3px solid #FAD41D;
}

#filter {
	padding: 0em 1.5em 1.5em 1.5em;
	text-align: center;
	font-family: 'Rubik', sans-serif;
}

#filter ul {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-size: 0.75em;
	font-weight: bold;
	display: block;
	border-bottom: 1px solid #999;
}

#filter ul li {
	display: inline-block;
	margin-left: 0.85em;
	margin-right: 0.85em;
	padding: 0;
	margin-bottom: 0;
}

#filter ul li a {
	text-decoration: none;
	display: block;
	font-weight: 500;
	letter-spacing: 0.15em;
	line-height: 1em;
	padding: 13px 0px 10px 0px;
	color: #000000;
	border-bottom: 3px solid transparent;
}

#filter ul li a:hover {
	border-bottom: 3px solid #FAD41D;
}

#filter ul li a.selected {
	border-bottom: 3px solid #FAD41D;
}

#filter ul li a#filter-all {
	background: transparent url('/images/all.svg') no-repeat 0% 54%;
	background-size: 1em;
	padding-left: 1.75em;
}

#filter ul li a#filter-branding {
	background: transparent url('/images/brand.svg') no-repeat 0% 51%;
	background-size: 1em;
	padding-left: 1.75em;
}

#filter ul li a#filter-print {
	background: transparent url('/images/pub.svg') no-repeat 0% 54%;
	background-size: 1em;
	padding-left: 1.75em;
}

#filter ul li a#filter-ux {
	background: transparent url('/images/ux.svg') no-repeat 0% 54%;
	background-size: 1em;
	padding-left: 1.75em;
}

#filter ul li a#close {
	background: transparent url('/images/x.svg') no-repeat 0% 54%;
	background-size: 1em;
	padding-left: 1.75em;
}

.pad {
	padding: 1.5em;
}

section#footer {
	text-align: center;
	color: #666666;
	padding: 0px 12px 12px 12px;
	text-transform: uppercase;
	font-size: 0.75em;
	letter-spacing: 0.25em;
	font-weight: 500;
}

#contact-details {
	text-align: center;
	padding-top: 2em;
}

#contact-details img {
	width: 60px;
}

#contact-details h4 {
	color: #666666;
	font-weight: 500;
}

#contact-details a {
font-family: 'Rubik', sans-serif;
text-transform: uppercase;
color: #000000;
font-weight: 500;
text-decoration: none;
font-size: 1em;
letter-spacing: 0.15em;
display: inline-block;
border-bottom: 3px solid transparent;
}

#contact-details a:hover {
	border-bottom: 3px solid #FAD41D;
}

#portfolio-story {
	border: 1px solid #999999;
	display: flex;
	background-color: #ffffff;
}

#media {
	width: 60%;
	border-left: 1px solid #999999;
}

.story-pad {
	padding: 0em 1.5em 1.5em 1.5em;
}

#media img {
	width: 100%;
	padding-bottom: 0;
	margin-bottom: -7px;
	margin-top: 1.5em;
}

#description {
	width: 40%;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 700px) {
#portfolio-story {
	display: block;
}

#description {
	width: 100%;
}

#media {
	width: 100%;
	border-left: none;
	border-right: 1px solid #999999;
}	
}